<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
        </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Admin</title>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid padding-ls padding-le">
                <h2 class="text-center text_color_white ">Admin</h2>
        </div>
    </nav>

    <style>
        .bold {
            font-weight: bold;
        }

        .F1 {
            font-family: "Times New Roman", Times, serif;
        }

        .font16 {
            font-size: 16px;
        }

        .font30 {
            font-size: 30px;
        }

        .padding-bt {
            padding-bottom: 1.5%;
        }

        .padding-ls {
            padding-inline-start: 4.0%;
        }

        .padding-le {
            padding-inline-end: 4.0%;
        }

        .padding-t {
            padding-top: 1.5%;
        }
        .container {
            max-width: 500px;
            margin: 60px auto;
        }

        .container h1 {
            text-align: center;
            color: white;
        }

        form {
            background-color: white;
        }

        form .input-group {
            margin-bottom: 15px;
        }

        form label {
            display: block;
            margin-bottom: 5px;
        }

        form input {
            padding: 6px 10px;
            width: 100%;
            border: 1px solid #ccc;
        }
        footer {
            text-align: center;
            padding: 3px;
            background-color: rgb(20, 20, 20);
            color: white;
            display: block;
            position: fixed;
            bottom: 0px;
            left: 0px;
            padding: 0px;
            text-align: center;
            width: 100%;
        }
        .text-center {
            text-align: center;
        }
        h6 {
            text-align: center;
        }
        .text_color_white {
            color: white;
        }
        h1 {
            
            color: rgb(255, 0, 0);
        }
    </style>
</head>
<body>
    <div class="text-center F1 font30 padding-bt padding-t bold">Welcome to MVC programming</div>
    <h6 class="text-center F1 font30 padding-bt padding-t bold">start</h6>
    <div class="container-fluid padding-bt ">
        <div class="row">
            <div class="col-xxl-3"></div>
            <div class="col-9 col-lg-18 ">
                        <form class="form-horizontal" class="d-flex" action=" "
                            method="POST">
                            <div class="F1 font30">
                                <p> user id = <%=response[0].userid %> </p>
                                <p> user name = <%=response[0].firstname %>  <%=response[0].lastname %></p>
                                <p> feedback = <%=response[0].feedback %> </p>
                            </div>
                            <div class="from-group">
                                <label class="col-lg-3 control-label">status:</label>
                                <div class="col-lg-8">
                                    <input name="status" class="form-control me-2" type="text" value= <%=response[0].status %>>
                                </div>
                            </div>

                            <div class="padding-t padding-l ">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>